.card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.progress {
    height: 20px;
}
.carousel {
    max-width: 900px;
    margin: 20px auto;
}
.carousel-item {
    text-align: center;
    padding: 30px;
    background: var(--header-bg);
    border-radius: 10px;
}
.carousel-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.carousel-item h3 {
    color: var(--accent-color);
}
/* Button Styling */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: rgb(53, 53, 53);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-primary:active {
    background-color: #004085;
    transform: scale(0.95);
}

.btn-secondary {
    background-color: #161616;
    border-color: #3c3c3c;
    color: rgb(58, 58, 58);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-secondary:hover {
    background-color: #545b62;
    transform: scale(1.05);
}

.btn-secondary:active {
    background-color: #3d4145;
    transform: scale(0.95);
}

.btn-outline-primary {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

.btn-outline-primary:active {
    background-color: #0056b3;
    color: white;
    transform: scale(0.95);
}


/* Card Styling */
.card {
    background-color: #1f1f1fb2;
    border: 1px solid #505050d6;
    color: #3f3f3f7c;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 16px rgba(56, 56, 56, 0.5);
}

.card-body {
    background-color: #1f1f1fad;
    color: #ffffff;
}

/* Custom Modal Styling */
.modal-content {
    background-color: #111; /* Black Background */
    color: white; /* White Text */
    border: 1px solid #333; /* Darker Border */
}

.modal-header {
    border-bottom: 1px solid #444; /* Darker separator */
}

.modal-body {
    font-size: 1rem;
}

.modal-footer {
    border-top: 1px solid #444; /* Darker separator */
}

/* Custom close button color */
.btn-close {
    filter: invert(1); /* Makes the close button white */
}